*{
    // Background: ;
    // Dimensions: px / % / vw / vh;
    // Position: px / % / vw / vh;
    // Margins: px / % / vw / vh;
    // Paddings: px / % / vw / vh;
    // Borders: px;
    // Font:;
    // Font-size:;
    // color: #;
    // Text-transform:;
    // Text-decoration:;
    // proprietes CSS 3;
    // Transitions;
}




// INVIEW
.inview-stagger,
.inview-single,
.stagger{
    opacity: 0;
    transition: opacity 0.4s;

    &.show{
        opacity: 1;
    }
}

.inview-stagger,
.stagger{
    @include stagger(0.09s);
}