// GRILLE LG
@media screen and (min-width: $screen-lg-min) {}

// GRILLE MD
@media screen and (max-width:$screen-md-max) {
	#popup {
		&-container {
			&>.popup-close {
				right: 0;
			}
		}
	}
}

// GRILLE SM
@media screen and (max-width:$screen-sm-max) {
	#popup {
		&-container {
			&>.popup-close {
				right: 0;
			}
		}
	}
}


// GRILLE XS
@media screen and (max-width: $screen-xs-max) {
	#popup {
		&-container {
			&>.popup-close {
				right: 0;
			}
		}
	}
}
